{% extends "base.html" %}

{% block title %}个人资料！{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>My Information</h1>
    <div class="row">
        <div class="col-md-6" >
            <div class="row">
                <div class="col-md-4 text-right"><span>用户名:</span></div>
                <div class="col-md-8 text-left">{{user.username}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>性别:</span></div>
                {% if userprofile.sex == 'M' %}
                    <div class="col-md-8 text-left">"汉子"</div>
                {% else %}
                    <div class="col-md-8 text-left">"妹子"</div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>所在地:</span></div>
                <div class="col-md-8 text-left">{{userprofile.address}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>个人介绍:</span></div>
                <div class="col-md-8 text-left">{{userprofile.aboutme}}</div>
            </div>
            <div class="row">
                <a href="{% url 'account:edit_my_information' %}"><button class="btn btn-primary btn-lg">编辑个人信息</button></a>
            </div>
        </div>
        <div class="col-md-6">
            <p>photo</p>
        </div>
    </div>
</div>


{% endblock %}