{% extends "base.html" %}
{% block title %}用户注册啦{% endblock %}
{% block content %}
<div class="row loginppp text-center vertical-middle-sm">
<div class="loginqqq">
    <h1>欢迎注册</h1>
    <p>如果您已注册账号 <strong><a href="{% url 'account:user_login' %}">请登录</a></strong></p>
    <p>若无账号请注册</p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-md-5 control-label">用户名：</label>
            <div class="col-md-6 text-left" style="line-height:25px;">{{ form.username }}</div>
        </div>

        <div class="form-group">
            <label for="{{ profile.sex.id_for_label }}" class="col-md-5 control-label">性别：</label>
            <div class="col-md-6 text-left" style="line-height:25px;">{{ profile.sex }}</div>
        </div>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label">密码：</label>
            <div class="col-md-6 text-left" style="line-height:25px;">{{ form.password }}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-5 control-label">确认密码：</label>
            <div class="col-md-6 text-left" style="line-height:25px;">{{ form.password2 }}</div>
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="注册">
    </form>
</div>
</div>
{% endblock %}
