body {
    /*padding-top: 1px;*/
    padding-left: 0px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #3c443e;
    background: url(../img/texture2.jpg);
    overflow: scroll;
    z-index: -1;     
}
hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ffffff;
}
a { color: #3c443e; }
a:hover, a:focus { color: #3c443e; }
.btn-success { background-color: #609f80; }

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}
h2 {
    font-size: 25px;
    padding-left:30px;
    color:#eba94c;
    line-height: 25px;
    text-align: left;
}
h5 {
    padding-left:30px;
    padding-top: 20px;
    font-size:15px;
    text-align: left;
}

/* 正文 */
/*新加的导航栏*/

/* Mobile Styles */

.navbar.navbar-default{
    /*border-top: 4px solid #ec901b;*/
    min-height: 100px;
    background-color:rgba(255,255,255,0.7);
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 9000;
    top: 0;

}

@media only screen and (max-width: 500px) {
  .navbar.navbar-default{
    min-height: 100px;
    background-color:rgba(255,255,255,0.7);
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 9000;
}
}




.navbar-brand{
    padding: 0;
    margin: 0;
    height: 100px;
}

.navbar-collapse.collapse[aria-expanded="false"] .nav.navbar-nav .nav-item{
    height: 100px;
    margin-left: 35px;
}

.navbar-collapse.collapse[aria-expanded="false"] .nav.navbar-nav .nav-item a.nav-link{
    line-height: 70px;
    font-weight: 200;
    font-size: 20px;
}


button.navbar-toggle{
    position: absolute;
    right: 0;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 5px;
    margin-bottom: 8px;
}

.nav.navbar-nav li.nav-item:hover{
    background-color:rgba(255,255,255,0.8);
    /*z-index:10000;*/
    /*transition-delay: 1s;*/
}


/*之前写的*/
#page-head {
    background-color:rgba(255,255,255,0.7);
    width: 100%;
    height: 100px;
    z-index:9000;
    margin: 0px;
    padding: 0px;
    line-height: 120px;
    position:absolute;
}

.navg {
    display: inline;
    padding-left: 20px;
}
.navg li {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom:30px;
    display: inline;
}

.navg li:hover{
    background-color:rgba(255,255,255,0.8);
    z-index:10000;
}

.signre {
    display: inline-block;
    padding-left: 60px;
    padding-top: 90px;
}

 @font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }

form {
    display: inline;
}
  #ser {
    height: 20px;
    width: 100px;
}






/*最上面滚动的几张图片*/

#gundong {
    /* background: url('../img/vietnam.jpg'); */
    width:100%;
    z-index: 8000;
    padding-left: 0px;
    padding-right: 0px;

    /*overflow: hidden;*/
}

#carousel_box>.carousel-inner{
    height: 42vw;
}

.carousel-inner>div>a>img{
    width: 100%;
    height: 42vw !important;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-indicators li {
    background-color: #D4D5D6;
    width:30px;
    height:10px;
    border: 0;
}
.carousel-indicators .active {
    background-color: #609f80;
    width: 35px;
    height: 13px;

}

@media only screen and (max-width: 500px) {
    #carousel_box>.carousel-inner{
    height: 66vw;
    }
    .carousel-inner>div>a>img{
    width: 100%;
    height: 66vw !important;
}
}




/*之前写的css*/
/*
#gundong {
     background: url('../img/vietnam.jpg');
    height:700px;
    width:100%;
    z-index: 8000;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}


#carousel_box {
    height: 870px;
}
.carousel-indicators {
    top: 600px;
    left: 49%;
}
.carousel-caption {
    top: 580px;
    background: #E4E4E4;
}
.carousel-inner { overflow: visible; }
.carousel-caption h4, .carousel-caption p {
    line-height: 20px;
    color: #333;
}
.carousel-indicators { margin-top:30px;}
.carousel-indicators li { background-color: #D4D5D6; width:6%; height:2%; }
.carousel-indicators .active { background-color: #609f80; width: 6%; height:2%; }

.slide-col2 {
    padding-left:50px;
    padding-top: 410px;
    z-index: 10000;
    position: absolute;
}
.item h2 {
    color:#ffffff;
    padding-bottom: 10px;
}
.item p {
    color: #ffffff;
}
.item a{
    color: #ffffff;
}


*/





.container h1 {
    color:#ffffff;
}
.s4 {
    margin:0px;
    padding:25px;
    text-align: center;
    /*height:430px;*/
}
.s6 {
    margin:0px;
    padding:0px;
    border:0px;
    text-align: center;
}


.hot-new{
    border-top: 4px solid #ec901b;
}


.my-row {
    max-width: 24.16667em;
    _width: 24.16667em;
    /*padding-left: 1em;*/
    /*padding-right: 1em;*/
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 742px){
    .my-row {
    width: 742px;
    max-width: 742px;
    }
}

@media (min-width: 1124px){
    .my-row {
        width: 1124px;
        max-width: 1124px;
    }
}

.bx-wrapper{
    max-width: 100% !important;
    background: transparent;
    border: 0 !important;
    -webkit-box-shadow: none;

}

.bxslider li{
    padding-left: 10px;
    padding-right: 10px;
    height: 450px ;

}

/*调节 that's for me 按钮*/
.bxslider li .btnc{
    position: absolute;
    margin-left: 90px;
    bottom: 8px;
}

.whiteboard {
    background-color: #ffffff;
    /*height:450px;*/
    border-radius: 10px;
    height: 450px;
    width: 340px;
}

.hot {
    position: relative;

}
.whiteboard img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.whiteboard p {
    color:#666e68;
    padding-left:30px;
    padding-right:30px;
    text-align: left;
}

.btnc {
    color:#ffffff;
    background-color:#f29b32;
    height:8.5%; 
    width: 45%;
    font-size:15px;
    padding-top:8px;
}
.btnh {
    display: block;
    color:#ffffff;
    background-color:#ec901b;
    width: 25%;
    margin: auto;
    font-size:20px;
    margin-top:50px;
    padding-top:15px;
    padding-bottom:15px;
    border-top: 1px solid #f3d0a5;
    border-bottom: 1px solid #9e7c51;
}



.btnl {
    color:#ffffff;
    background-color:#f29b32;
     width: 25%;
    margin: auto;
    font-size:20px;
    margin-top:50px;
    padding-top:15px;
    padding-bottom:15px;
    border-top: 1px solid #f3d0a5;
    border-bottom: 1px solid #9e7c51;
}
.btnl2 {
    display:block;
    color:#ffffff;
    background-color:#0678a8;
     width: 25%;
    margin: auto;
    font-size:20px;
    margin-top:50px;
    padding-top:15px;
    padding-bottom:15px;
    border-top: 1px solid #b3e2f3;
    border-bottom: 1px solid #4d6c9e;
}

@media only screen and (max-width: 500px) {
    .btnh, .btnl2{
        width: 50%;
    }
}
.btnf {
    color:#ffffff;
    background-color:#f29b32;
    width: 25%;
    margin-left:38%;
    font-size:20px;
    margin-top:50px;
    margin-bottom:50px;
    padding-top:15px;
    padding-bottom:15px;
    border-top: 1px solid #f3d0a5;
    border-bottom: 1px solid #9e7c51;
}

.btnfff {
    color:#ffffff;
    background-color:#3b7a5b; 
    width: 25%;
    margin-left:38%;
    font-size:20px;
    top:85%;
    left:3%;
    border-top:5px;
    border-top-color: #ffffff;
    position: absolute;
}

.footinfo {
    margin-top:15px;
}
.footinfo h4{
    text-align:center;
    color:#3c443e;
    font-size:15px;
    
}

.footinfo h2{
    text-align:center;
    color:#3c443e;
    font-size:15px;
    margin-bottom: 5px;
    margin-top: 0;
} 


/* .review1 {
    background-image:url(../img/bluegrey.jpg);
    position: relative;
    left: -500px;
    overflow: visible;
} */

.bluebg {
    background: url(../img/blue2.jpg);
    width: 100%
    /*border-top: 4px solid #ec901b;*/
    /*height:900px;*/
}



.fff {
    background-color: #ffffff;
}

.jour p {
    color:#ffffff;
    font-size: 25px;
    text-align: center;
    padding:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.eve {
    margin-bottom: 100px;
}

.s6 h2 {
    color:#ffffff;
    text-align: center;
}
.s6 p {
    color:#ffffff;
    text-align: left;
    font-size:15px;
    line-height:25px;
    margin:0px;
    padding:8px;
    padding-left:25px;
    padding-right:25px;
    font-family: 微软雅黑;
}
.s6 h3 {
    text-align: left;
    font-size:25px;
    margin-top:5px;
    padding:0px;
}
.potrait {
    height:50px;
    width:50px;
    border-radius:50px;
    overflow: hidden;
}
.hrs {
    margin: 18px 0 40px 0;
    border: 0;
    border-top: 1px solid #a6c4b5;
}
.quote {
    padding-right:35px;
    text-align: left;
    font-size:13px;
    line-height: 18px;
}
.foo {
    margin: 18px 0 20px 0;
    border: 0;
    border-top: 1px solid #94bea9;
    position: relative;
    left:-50px; 
}
.fff {
    text-align: center;
    padding-top:40px;
    padding-bottom: 20px;
    color:rgb(34, 34, 34);
}
.ff {
    text-align: center;
    padding-top:40px;
    padding-bottom: 20px;
}
.copyr {
    width:70%;
    position: relative;
    left:300px;
    color:rgb(129, 126, 126);
}
.copyrr {
    width:80%;
    position: relative;
    left:100px;
    color:rgb(129, 126, 126);
}

/* ------------------------------------------------------------- */

#page-head2 {
    background-color:rgba(255,255,255,0.7);
    width: 100%;
    height: 100px;
    z-index:9000;
    margin: 0px;
    padding: 0px;
    line-height: 120px;
    margin-bottom: 50px;
    position: fixed;
}

.page-header h2 {
    color:#ffffff;
    font-size: 30px;
}
.thumnail {
    padding-left:15px;
    padding-top:10px;

}


.shorthr {
    width:50%;
    border: 0;
    border-top: 1px solid #ccc;
    position: relative;
    left:20px;
}

.titleh {
    padding-top:20px;
}

.titleh, .infoh, .summaryh {
    padding-right:30px;
    padding-left:30px;
}
.pp a {
    font-size:22px;
    color:#af420a;
}

.articless {
    background-color: #e7e9e3;
    height:200px;
    width:100%;
    margin-bottom: 15px;
}

.opbg {
    background-color: rgba(0, 0, 0, 0.2);
    height:1000px;
    width:15%;
    margin-bottom: 15px;
    position:fixed;
    margin-top:100px;

}
.s888 {
    margin-top:150px;
}
.width5 h3 {
    padding-top:38px;
    padding-left:20px;
    color:#ffffff;
}
.width5 h4 {
    color:#ffffff;
    padding-top:10px;
    padding-left:15px;
    padding-bottom: 20px;
}
.width5 li  {
    color:#000000;
}
.width5 li a {
    color:#000000;
    font-size: 16px;
    line-height: 27px;
}
.hotpad {
    padding-bottom: 50px;
    padding-top:30px;
}
.data a {
    height:20px;
    width:100px;
    font-size: 13px;
    padding:0px;
    margin:0px;
    background-color:rgb(112, 110, 110); 
}

.pagination ul > li {
    display: inline;
    font-size: 15px;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    /* line-height: 20px; */
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}
.pagination ul > li > a {
    color:#60a181;
}
.pagination ul > li > a:hover {
    color:#5c5353;
}





.black_overlay{
    display: none; 
    position: absolute;  
    top: 0%;  
    left: 0%;  
    width: 100%;  
    height: 400%;  
    background-color: black;  
    z-index:1001;  
    -moz-opacity: 0.8;  
    opacity:.80;  
    filter: alpha(opacity=80);  
} 
.white_content {
   display: none;  
   position: absolute;
    left: 0;

   /*top: 50%;*/
   /*left: 35%;*/
   /*width: 32%; */
   /*height: 65%; */
   padding: 0px;
   border: 2px solid orange; 
   background-color: white; 
   z-index:1002;
   overflow: auto;
   overflow:hidden;
}  

.white_content img{
    height: 450px;
    width: 450px;
}





/*--------forum-------*/
.jourhead {
    /*margin-top: 6%;*/
}

.midd h2 {
    color:#ffffff;
    font-size: 40px;
    text-align: center;
}

.fulll {
    margin-left:12.5%;
    padding-right:3%;
}

.fullll {
    margin-left:10%;
    padding-right:3%;
}

.note {
    height:400px;
    margin-bottom: 20px;
    background-color:rgba(255,255,255,0.7);
}

.portrait {
    margin-left:25px;
    margin-top:25px;
    height:80px;
    width:80px;
    border-radius:80px;
    overflow: hidden;
}

.portrait img {
    width:80px;
}

.writer {
    padding-right: 3%;
}
.naming {
    text-align:center;
    padding-top:10px;
    font-size: 20px;
}

.timing {
    text-align:center;
    padding-top:10px;
    font-size: 15px;
}

.photo {
    background-color: #609f80;
    margin-top:25px;
    margin-right:6%;
    height:300px;
    margin-left:-2%;
}
.photo img {
    height:300px;
    clear: both; 
    display:block; 
    margin:auto; 
    margin-top:-18px;
}

.tryy {
    background-color: #666e68;
}

.photohead {
    padding-top:20px;
    margin-left:-6%;
    text-align: center;
    font-size: 24px;
}

.likecomment {
    height:390px;
    display: table-cell;
    vertical-align: bottom;
}

.opbg2 {
    background-color: rgba(0, 0, 0, 0.2);
    height:1000px;
    width:15%;
    margin-bottom: 15px;
    position:absolute;
    margin-top:150px;
}

.width52 h3 {
    padding-left:20px;
    color:#ffffff;
}

.writerinfo p {
    font-size: 16px;
    color:rgba(255, 255, 255,0.9);
}

.writerinfo p{   

    margin-left:10px; 
}

.fundm {
    margin-top:10px;
}

.selfintro {
    padding-top:20px;
    padding-left:25px;
    padding-right:25px;
    font-size: 17px;
    line-height: 24px;
    color:rgb(255,255,255);
    padding-bottom: 40px;
}

.width52 li {
    color:rgb(255,255,255);
    font-size: 20px;
    line-height: 35px;
}

.width52 a {
    color:rgb(255,255,255);
    font-size: 20px;
    line-height: 35px;
}

.passage {
    margin-top:110px;
    color:#000000;
}

.passage h1 {
    font-size: 30px;
    text-align: left;
}

.passagehead {
    font-size: 15px;
}

.passagehead p {
    padding-top:14px;
    margin-left:-15px;
    font-size: 16px;
}
.portrait2 {
    margin-left:10px;
    margin-top:10px;
    height:70px;
    width:70px;
    overflow: hidden;
}
.portrait2 img {
    width:70px;
}

.portrait3 {
    margin-top:5px;
    height:35px;
    width:35px;
    overflow: hidden;
}

.portrait3 img {
    width:35px;
}

.myphoto img{
    width: 100%; 
}

.describetext {
    margin-top:20px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing:1px;
}

.likcom {
    display: table-cell;
    vertical-align: bottom;
    height:30px;
}


.slimmer {
    margin-top:100px;
    padding-top:25px;
    margin-left : 25%;
    width:50%;
    background-color: rgba(0,0,0,0);
}

/* make sure @media rule lies below the original rule*/
@media screen and (max-width: 500px) {
    .slimmer{
        margin-top:30px;
        padding-top:25px;
        margin-left:5%;
        margin-right:5%;
        width:90%;
        background-color: rgba(0,0,0,0);
  }
    .slimmer p>img{
        width:100% !important;
    }
}




.dropdown-toggle {
    background: transparent;
}
.dropdown-menu {
    margin-left:1127px;
    margin-top:-20px;
    min-width:0px;
}
.loginppp {
    height:850px;
    width:102%;
    padding-top:130px;
    padding-bottom: 250px;
    padding-left:40%;
    background-image:url(../img/login4.jpg);
}
.loginqqq {
    background-color:rgba(235,213,92,0.6);
    height:530px;
    width:40%;
    margin-left:42%;
    border-radius: 20px;
    padding-right:10px;
}
.loginppp h1 {
    font-family:微软雅黑;
    padding:10px;
    padding-top:50px;
}
.loginppp p {
    padding:5px;
    font-size:16px;
}
.form-group1 {
    padding-top:40px;
}
.control-label {
    border-radius: 25px;
}

.btn-primary {
    background-color:#3b67c0;
    border-color:#3b67c0;
    height:50px;
    line-height: 1px;
    margin-top:40px;
    margin-left:10px;
    width:280px;
    font-size: 20px;
}

.blue2bg {
    color:#ffffff;
    line-height: 24px;
    font-family: 微软雅黑;
    background-image:url(../img/nanjing.png);
}
.tea {
    background-image:url(../img/tea2.jpg);
}

.greenbg {
    background-color: #98cc31;
    /*height:1650px;*/
    /*margin-top:-110px;*/
}

.greenbg {
    background-image:url(../img/tea0.jpg);

}
.footinfo h2 {
    padding-right:30px;
}
.btnl3 {
    color:#ffffff;
    background-color: #73c11c;
    width: 25%;
    margin-left:38%;
    font-size:20px;
    margin-top:50px;
    padding-top:15px;
    padding-bottom:15px;
    border-top:5px;
    border-top-color: #46cb2a;
    border-top: 1px solid #cbf3c2;
    border-bottom: 1px solid #26550a;
}