body {
    padding-top: 1px;
    padding-left: 0px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #3c443e;
    background-color: #c9b545;
    overflow: scroll;
    z-index: -1;     
}
hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
}
a { color: #3c443e; }
a:hover, a:focus { color: #3c443e; }
.btn-success { background-color: #609f80; }

h1 {
    font-size: 55px;
    text-align: center;
    margin-top: 70px;
}
h2 {
    font-size: 30px;
    padding-left:30px;
    color:#c9b545;
    line-height: 13px;
    text-align: left;
}
h5 {
    padding-left:30px;
    padding-top: 20px;
    font-size:15px;
    text-align: left;
}

/* 正文 */

#page-head {
    background-color:rgba(255,255,255,0.7);
    width: 100%;
    height: 100px;
    z-index:9000;
    margin: 0px;
    padding: 0px;
    line-height: 120px;
    position:absolute;
}

.navg {
    display: inline;
    padding-left: 70px;
}
.navg li {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom:30px;
    display: inline;
}

.navg li:hover{
    background-color:rgba(255,255,255,0.8);
    z-index:10000;
}

.signre {
    display: inline;
    padding-left: 100px;
    padding-top: 90px;
}

 @font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }

form {
    display: inline;
}
  #ser {
    height: 20px;
    width: 100px;
}








#carousel_box {
    height: 870px;
}
.carousel-indicators {
    top: 600px;
    left: 49%;
}
.carousel-caption {
    top: 580px;
    background: #E4E4E4;
}
.carousel-inner { overflow: visible; }
.carousel-caption h4, .carousel-caption p {
    line-height: 20px;
    color: #333;
}
.carousel-indicators li { background-color: #D4D5D6; width:4%; height:5%; }
.carousel-indicators .active { background-color: #609f80; width: 4%; height:5%; }

.slide-col2 {
    padding-left:50px;
    padding-top: 410px;
    z-index: 10000;
    position: absolute;
}
.item h2 {
    color:#ffffff;
    padding-bottom: 10px;
}
.item p {
    color:#b4b1b1;
}
.item a{
    color:#c9b545;
}










.container-fluid {
    /* background: url('../img/vietnam.jpg'); */
    height:650px;
    width:100%;
    z-index: 8000;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
.s4 {
    margin:0px;
    padding:35px;
    text-align: center;
    height:430px;
}
.s6 {
    margin:0px;
    padding:0px;
    border:0px;
    text-align: center;
}

.whiteboard {
    background-color: #ffffff;
    height:450px;
    border-radius: 10px;
}
.hot {
    position: relative;
}
.whiteboard img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.whiteboard p {
    color:#666e68;
    padding-left:30px;
    padding-right:30px;
    text-align: left;
}

.btnc {
    color:#ffffff;
    background-color:#f0b30d;
    height:8.5%; 
    width: 45%;
    font-size:15px;
    padding-top:8px;
}
.btnh {
    color:#ffffff;
    background-color:#f0b30d; 
    width: 25%;
    margin-left:38%;
    font-size:20px;
    margin-top:150px;
    padding-top:15px;
    padding-bottom:15px;
    border-top:5px;
    border-top-color: #ffffff;
}

.btnl {
    color:#ffffff;
    background-color:#5b6151; 
    width: 25%;
    margin-left:38%;
    font-size:20px;
    margin-top:150px;
    padding-top:15px;
    padding-bottom:15px;
    border-top:5px;
    border-top-color: #ffffff;
}
.btnf {
    color:#ffffff;
    background-color:#3b7a5b; 
    width: 25%;
    margin-left:38%;
    font-size:20px;
    margin-top:50px;
    margin-bottom:50px;
    padding-top:15px;
    padding-bottom:15px;
    border-top:5px;
    border-top-color: #ffffff;
}
.btnfff {
    color:#ffffff;
    background-color:#3b7a5b; 
    width: 25%;
    margin-left:38%;
    font-size:20px;
    top:75%;
    left:3%;
    border-top:5px;
    border-top-color: #ffffff;
    position: absolute;
}

.footinfo {
    margin-top:35px;
}
.footinfo h4{
    text-align:center;
    color:#3c443e;
    font-size:15px;
    
}

.footinfo h2{
    text-align:center;
    color:#3c443e;
    font-size:15px;
    margin-bottom: 30px;
} 


/* .review1 {
    background-image:url(../img/bluegrey.jpg);
    position: relative;
    left: -500px;
    overflow: visible;
} */

.bluebg {
    background-color: #8c9874;
    height:900px;
}

.blue2bg {
    background-color: #60a181;
    
}

.fff {
    background-color: #4c584e;
}

.jour p {
    color:#ffffff;
    font-size: 25px;
    text-align: center;
    padding:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.eve {
    margin-bottom: 100px;
}

.s6 h2 {
    color:#3c443e;
    text-align: center;
}
.s6 p {
    color:#3c443e;
    text-align: left;
    font-size:15px;
    line-height:25px;
    margin:0px;
    padding:8px;
    padding-left:25px;
    padding-right:25px;
}
.s6 h3 {
    color:#3c443e;
    text-align: left;
    font-size:25px;
    margin-top:5px;
    padding:0px;
}
.potrait {
    height:50px;
    width:50px;
    border-radius:50px;
    overflow: hidden;
}
.hrs {
    margin: 18px 0 40px 0;
    border: 0;
    border-top: 1px solid #a6c4b5;
}
.quote {
    padding-right:35px;
    text-align: left;
    font-size:13px;
    line-height: 18px;
}
.foo {
    margin: 18px 0 20px 0;
    border: 0;
    border-top: 1px solid #94bea9;
    position: relative;
    left:-50px; 
}
.fff {
    text-align: center;
    padding-top:40px;
    padding-bottom: 20px;
    color:rgb(34, 34, 34);
}
.ff {
    text-align: center;
    padding-top:40px;
    padding-bottom: 20px;
}
.copyr {
    width:70%;
    position: relative;
    left:300px;
    color:rgb(129, 126, 126);
}
.copyrr {
    width:80%;
    position: relative;
    left:100px;
    color:rgb(129, 126, 126);
}

/* ------------------------------------------------------------- */

#page-head2 {
    background-color:rgba(255,255,255,0.7);
    width: 100%;
    height: 100px;
    z-index:9000;
    margin: 0px;
    padding: 0px;
    line-height: 120px;
    margin-bottom: 50px;
    position: fixed;
}

.page-header h2 {
    color:#ffffff;
    font-size: 30px;
}
.thumnail {
    padding-left:15px;
    padding-top:10px;
}

.shorthr {
    width:50%;
    border: 0;
    border-top: 1px solid #ccc;
    position: relative;
    left:20px;
}

.titleh {
    padding-top:20px;
}

.titleh, .infoh, .summaryh {
    padding-right:30px;
    padding-left:30px;
}
.pp a {
    font-size:22px;
    color:#af420a;
}

.articless {
    background-color: #e7e9e3;
    height:200px;
    width:100%;
    margin-bottom: 15px;
}

.opbg {
    background-color: rgba(0, 0, 0, 0.2);
    height:1000px;
    width:15%;
    margin-bottom: 15px;
    position:fixed;
    margin-top:100px;
}
.s888 {
    margin-top:150px;
}
.width5 h3 {
    padding-top:38px;
    padding-left:20px;
    color:#ffffff;
}
.width5 h4 {
    color:#ffffff;
    padding-top:10px;
    padding-left:15px;
    padding-bottom: 20px;
}
.width5 li  {
    color:#000000;
}
.width5 li a {
    color:#000000;
    font-size: 16px;
    line-height: 27px;
}
.hotpad {
    padding-bottom: 50px;
    padding-top:30px;
}
.data a {
    height:20px;
    width:100px;
    font-size: 13px;
    padding:0px;
    margin:0px;
    background-color:rgb(112, 110, 110); 
}

.pagination ul > li {
    display: inline;
    font-size: 15px;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    /* line-height: 20px; */
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}
.pagination ul > li > a {
    color:#60a181;
}
.pagination ul > li > a:hover {
    color:#5c5353;
}
















.black_overlay{
    display: none; 
    position: absolute;  
    top: 0%;  
    left: 0%;  
    width: 100%;  
    height: 400%;  
    background-color: black;  
    z-index:1001;  
    -moz-opacity: 0.8;  
    opacity:.80;  
    filter: alpha(opacity=80);  
} 
.white_content {
   display: none;  
   position: absolute; 
   top: 25%; 
   left: 35%; 
   width: 32%; 
   height: 65%; 
   padding: 0px;
   border: 2px solid orange; 
   background-color: white; 
   z-index:1002;
   overflow: auto;
   overflow:hidden;
}  


/*--------forum-------*/
.jourhead {
    margin-top: 6%;
}

.midd h2 {
    color:#ffffff;
    font-size: 40px;
    text-align: center;
}

.fulll {
    margin-left:12.5%;
    padding-right:3%;
}

.fullll {
    margin-left:10%;
    padding-right:3%;
}

.note {
    height:400px;
    margin-bottom: 20px;
    background-color:rgba(255,255,255,0.5);
}

.portrait {
    margin-left:25px;
    margin-top:25px;
    height:80px;
    width:80px;
    border-radius:80px;
    overflow: hidden;
}

.portrait img {
    width:80px;
}

.writer {
    padding-right: 3%;
}
.naming {
    text-align:center;
    padding-top:10px;
    font-size: 20px;
}

.timing {
    text-align:center;
    padding-top:10px;
    font-size: 15px;
}

.photo {
    background-color: #609f80;
    margin-top:25px;
    margin-right:6%;
    height:300px;
    margin-left:-2%;
}
.photo img {
    height:300px;
    clear: both; 
    display:block; 
    margin:auto; 
    margin-top:-18px;
}

.tryy {
    background-color: #666e68;
}

.photohead {
    padding-top:20px;
    margin-left:-6%;
    text-align: center;
    font-size: 24px;
}

.likecomment {
    height:390px;
    display: table-cell;
    vertical-align: bottom;
}

.opbg2 {
    background-color: rgba(0, 0, 0, 0.2);
    height:1000px;
    width:15%;
    margin-bottom: 15px;
    position:absolute;
    margin-top:150px;
}

.width52 h3 {
    padding-left:20px;
    color:#ffffff;
}

.writerinfo p {
    font-size: 16px;
    color:rgba(255, 255, 255,0.9);
}

.writerinfo p{   

    margin-left:10px; 
}

.fundm {
    margin-top:10px;
}

.selfintro {
    padding-top:20px;
    padding-left:25px;
    padding-right:25px;
    font-size: 17px;
    line-height: 24px;
    color:rgb(255,255,255);
    padding-bottom: 40px;
}

.width52 li {
    color:rgb(255,255,255);
    font-size: 20px;
    line-height: 35px;
}

.width52 a {
    color:rgb(255,255,255);
    font-size: 20px;
    line-height: 35px;
}

.passage {
    margin-top:110px;
    color:#000000;
}

.passage h1 {
    font-size: 30px;
    text-align: left;
}

.passagehead {
    font-size: 15px;
}

.passagehead p {
    padding-top:14px;
    margin-left:-15px;
    font-size: 16px;
}
.portrait2 {
    margin-left:10px;
    margin-top:10px;
    height:70px;
    width:70px;
    overflow: hidden;
}
.portrait2 img {
    width:70px;
}

.portrait3 {
    margin-top:5px;
    height:35px;
    width:35px;
    overflow: hidden;
}

.portrait3 img {
    width:35px;
}

.myphoto img{
    width: 100%; 
}

.describetext {
    margin-top:20px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing:1px;
}

.likcom {
    display: table-cell;
    vertical-align: bottom;
    height:30px;
}