{% load staticfiles %}
<div id="page-head" class="clearfix">
  <div class="pull-left" id="flaat">
    <strong>
      <a href="#"><img src='{% static "img/logo.png" %}'></a>
      <ul class="navg">
        <li><a href="\">INDEX</a></li>
        <li><a href="#">DESTINATION</a></li>
        <li><a href="#">REVIEW</a></li>
        <li><a href="#" onclick="openWindow()">JOIN US</a></li>
      </ul>
    </strong>
    <div class="signre">
        {% if user.is_authenticated %}
        <a id="signup" href="#">{{ user.username }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a id="register" href="{% url 'account:user_logout' %}">Log out</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
            id="search" href="#"><span class="glyphicon glyphicon-search"></span></a>
        {% else %}<!--这里可以做一个下拉菜单，但是我搞不出来-->
      <a id="signup" href="{% url 'account:user_login' %}">Log in</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a id="register" href="{% url 'account:user_register' %}">Register</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
            id="search" href="#"><span class="glyphicon glyphicon-search"></span></a>
        {% endif %}
    </div>
    <form>
      <input type="text" value="黄山" id="ser">
    </form>
  </div>
</div>

<div id="light" class="white_content">
  <a href="#" class="btn btnfff" role="button" onClick="closeWindow()"><strong>close</strong></a>
  <img src="{% static 'img/webwxgetmsgimg.jpg' %}">
</div>
<div id="fade" class="black_overlay"></div>