<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>案例实战</title>
  <script type="text/javascript" src="bootstrap/js/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"/>
  <link href="css/travel.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="page-head2" class="clearfix">
  <div class="pull-left" id="flaat">
    <strong>
      <a href="#"><img src="img/logo.png"></a>
      <ul class="navg">
        <li><a href="travel.html">INDEX</a></li>
        <li><a href="hotlist.html">DESTINATION</a></li>
        <li><a href="retrospect.html">REVIEW</a></li>
        <li><a href="#">JOIN US</a></li>
      </ul>
    </strong>
    <div class="signre">
      <a id="signup" href="#">Sign up</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="register" href="#">Register</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
            id="search" href="#"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;</a>
    </div>
    <form>
      <input type="text" value="黄山" id="ser">
    </form>
  </div>
</div>


<div class="container main-body">
  <div class="row">
    <div class="span8 s888">
      <section>
        <div class="page-header">
          <h2>当季热卖</h2>
        </div>
      </section>
      <div class="articles articless">
        <div class="article">
          <div class="row">
            <div class="span2">
              <div class="thumnail"><img src="img/yuenans.jpg"/></div>
            </div>
            <div class="span6 pp">
              <div class="titleh"><a href="#"><strong>时光中的越南 VOL3 (复刻版）</strong></a></div>
              <div class="infoh"><span>DEPARTURE</span> <span>1/18 2018</span></div>
              <hr class="shorthr">
              <div class="summaryh">
                我们以一篇溪牛乐玩第一次的越南游作为开篇，这些照片来源于我们真实的眼界，犹如我们每一次真实地和大家一起旅行。这是一个充满阳光的地方，越往南走，阳光越刺眼。时值冬季，但是我们所去的南方...
              </div>
            </div>
          </div>
          <div class="data row"><span class="span6"></span> <span class="span2"> <span class="item"> <i
                  class="icon-tags"></i> <span></span> </span> <span class="item"> <i class="icon-list-alt"></i> <a
                  href="#" class="btn btnh" role="button"><strong>MORE details</strong></a> </span> </span></div>
        </div>
      </div>

      <div class="articles articless">
        <div class="article">
          <div class="row">
            <div class="span2">
              <div class="thumnail"><img src="img/yuenans.jpg"/></div>
            </div>
            <div class="span6 pp">
              <div class="titleh"><a href="#"><strong>时光中的越南 VOL3 (复刻版）</strong></a></div>
              <div class="infoh"><span>DEPARTURE</span> <span>1/18 2018</span></div>
              <hr class="shorthr">
              <div class="summaryh">
                我们以一篇溪牛乐玩第一次的越南游作为开篇，这些照片来源于我们真实的眼界，犹如我们每一次真实地和大家一起旅行。这是一个充满阳光的地方，越往南走，阳光越刺眼。时值冬季，但是我们所去的南方...
              </div>
            </div>
          </div>
          <div class="data row"><span class="span6"></span> <span class="span2"> <span class="item"> <i
                  class="icon-tags"></i> <span></span> </span> <span class="item"> <i class="icon-list-alt"></i> <a
                  href="#" class="btn btnh" role="button"><strong>MORE details</strong></a> </span> </span></div>
        </div>
      </div>


      <div class="articles articless">
        <div class="article">
          <div class="row">
            <div class="span2">
              <div class="thumnail"><img src="img/yuenans.jpg"/></div>
            </div>
            <div class="span6 pp">
              <div class="titleh"><a href="#"><strong>时光中的越南 VOL3 (复刻版）</strong></a></div>
              <div class="infoh"><span>DEPARTURE</span> <span>1/18 2018</span></div>
              <hr class="shorthr">
              <div class="summaryh">
                我们以一篇溪牛乐玩第一次的越南游作为开篇，这些照片来源于我们真实的眼界，犹如我们每一次真实地和大家一起旅行。这是一个充满阳光的地方，越往南走，阳光越刺眼。时值冬季，但是我们所去的南方...
              </div>
            </div>
          </div>
          <div class="data row"><span class="span6"></span> <span class="span2"> <span class="item"> <i
                  class="icon-tags"></i> <span></span> </span> <span class="item"> <i class="icon-list-alt"></i> <a
                  href="#" class="btn btnh" role="button"><strong>MORE details</strong></a> </span> </span></div>
        </div>
      </div>
      <footer class="ff">
        <hr class="copyrr">
        <p>所有图片由溪牛乐玩活动提供</p>
        <p>其他用户头像均由溪牛乐玩虚假用户提供，授权溪牛乐玩使用</p>
        <p>Copyright © 2010-2018 ？？？？？？.com, all rights reserved. 苏ICP备.......</p>
      </footer>
    </div>
    <div class="span"></div>
    <div class="span3 width5">
      <div class="opbg">
        <section>
          <div class="page-header">
            <h3>人气排行</h3>
          </div>
        </section>
        <section class="hotpad">
          <h4>当季行程</h4>
          <ul>
            <li><a href="#">夜幕下的露天电影院</a></li>
            <li><a href="#">幻现黄山--雪后美景</a></li>
            <li><a href="#">小镇影剧院</a></li>
          </ul>
        </section>
        <section>
          <h4>历史行程</h4>
          <ul>
            <li><a href="#">夜幕下的露天电影院</a></li>
            <li><a href="#">路--稻城亚丁</a></li>
            <li><a href="#">大海深处的挑战：荒岛求生</a></li>
            <li><a href="#">钟爱一生--越南</a></li>
            <li><a href="#">婺源秋色</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>

</div>
</body>