{% extends "base.html" %}
{% load staticfiles %}

{% block title %}论坛帖子{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="span8 passage">
        <div class="passagehead">
          <h1><strong>{{ post.title }}</strong></h1>
          <div class="row">
            <div class="span">
              <div class="portrait3"><img src="{% static 'img/timg.jpg'%}"></div>
            </div>
            <div class="span6">
              <p>{{ post.author.user.username }} {{ post.created_at }}
              <p>
            </div>
          </div>
          <hr>
        </div>
        <div class="myphoto">
          <img src="{{ post.image.url }}">
        </div>
        <div class="describetext">
          {% autoescape off %}
            {{ post.content }}
          {% endautoescape %}
        </div>
        <div class="likcom">
          <img src="{% static 'img/comment.png'%}"><img src="{% static 'img/like.png'%}">
        </div>
      </div>


      <div class="span"></div>
      <div class="span3 width52">
        <div class="opbg2">
          <section>
            <div class="page-header">
              <h3>作者信息</h3>
            </div>
          </section>
          <section class="writerinfo">
            <div class="row">
              <div class="span1">
                <div class="portrait2"><img src="{% static 'img/timg.jpg'%}"></div>
              </div>
              <div class="span2">
                <div class="fundm">
                  <p><strong>昵称：</strong>{{ post.author.user.username }}</p>
                  <p><strong>性别：</strong>{{ post.author.sex }}</p>
                  <p><strong>所在地：</strong>{{ post.author.address }}</p>
                </div>
              </div>
            </div>
          </section>
          <div class="selfintro">
            {{ post.author.aboutme }}
          </div>
          <section>
            <div class="page-header">
              <h3>他的日记</h3>
            </div>
            <ul>
                {% for foo in author_other %}
                    <li><a href="{{ foo.get_absolute_url }}">{{ foo.title }}</a></li>
                {% endfor %}
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>

{% endblock %}